/* css pour la bar de nav pour le moment */
.navbar {

    gap : 20px;
}

nav {
    float : right;
}
nav a{
    margin-right: 70px; 
    text-decoration: none;
    font-weight: bold;
    margin-left: 0;
 
}

header {
    padding: 45px;
}

