<<<<<<< HEAD
=======
.container {
    margin-top: 35px;
}
>>>>>>> 0d512fc52f1431b82639d2480bb3d881163a5920




contenu {
    text-align: left;
    margin-left: 20px;


}
.contenu img {
    float: right;
}

.container {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 20px;
    }

    .texte p {
      margin-bottom: 20px;
    }

    .image img {
      width: 100%;
      border-radius: 10px;
    }

